@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Slabo 27px", serif;
}

body {
    background-image: url('./images/fond.png');
}

header {
    background-color: #34B1B2;
    border-top: 2px solid #23969D;
    border-bottom: 2px solid #23969D;
    margin: 30px 0;
}

header h1 {
    text-align: center;
    color: white;
}

header h1 span {
    font-size: 18px;
    opacity: 0.8;
    font-style: oblique;
}

ul {
    width: 320px;
    margin: 10px auto;
}

ul li {
    list-style: none;
    width: 100px;
    display: inline-block;
    text-align: center;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.container {
    width: 80%;
    margin: auto;
}

.container h2 {
    text-align: center;
    color: #587177;
    font-weight: 300;
    margin-bottom: 15px;
}

.container h2 span {
    opacity: 0.8;
    font-style: oblique;
    font-size: 18px;
}

.container .biography {
    width: 80%;
    margin: 20px auto;

}

.container .biography p {
    line-height: 1.2;
    margin-bottom: 10px;
    color: #424651;
}

.menu .left-section {
    width: 65%;
    display: inline-block;
    background-color: #B6DEDC;
    margin-right: 5px;
    padding: 10px;

}

.menu .left-section .left-section-content {
    width: 100%;
}

.menu .left-section .left-section-content h3 {
    text-align: center;
    font-size: 30px;
    letter-spacing: 15px;
    margin: 15px 0;
}

.menu .left-section .left-section-content h3 span {
    color: #23969D;

}

.left-section h5 {
    font-size: 30px;
    margin: 10px auto;
    color: #424651;
    text-align: center;
}

.left-section img {
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
}

.left-section .second-para {
    clear: both;
    margin: 10px auto;
}

.left-section .fish-menu, .chiken-menu {
    display: inline-block;
    width: 48%;
    margin: auto;
}

.left-section .fish-menu {
    /* margin-right: 10px; */
}

.left-section .left-section-content button {
    background-color: rgb(8, 94, 94);
    color: white;
    height: 40px;
    border: none;
    width: 100px;
}

.right-section {
    width: 30%;
    padding: 10px;
    height: 100%;
    display: inline-block;
    background-color: #34B1B2;
    border: 2px solid #23969D;
    color: white;
    vertical-align: top;
}

.right-section img {
    width: 100px;
    height: 100px;
    float: right;
    transform: translate(50px, -50px) rotate(30deg);

}

.event-block {
    /* clear: both; */
}

.event-block h5 {
    font-size: 20px;
    margin: 10px auto;
    text-align: center;
}

.event-block h5 span, .event-block .date-event {
    opacity: 0.5;
}

.event-block .date-event {
    margin: 5px auto;
    font-size: 20px;
    font-style: italic;
}

.event-block article {
    margin: 10px auto;
    line-height: 1.5;
}

footer {
    clear: both;
    margin-top: 100px;
    text-align: center;
    padding: 20px;
    background-color: #34B1B2;
    border-top: 2px solid #23969D;
    border-bottom: 2px solid #23969D;
    color: white;
}